<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <a name="topofthepage"></a>
    <!-- HEADER -->
    <header id="header">
        <nav id="header-nav" class="navbar navbar-default">
            <div class="container-fluid justify-content-center">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="index.html">
                            <h1>NERDS conference {{Year}}</h1>
                        </a>
                    </div><!-- .navbar-brand -->
                </div><!-- .navbar-header -->
            </div><!-- .container-fluid -->
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>

</html>