{% extends "_layout.html" %}
{% block title %}
    <title>NERDS Conference</title>
{% endblock %}

{% block content %}


<div class="full-container justify-content-center container-fluid">
<div class="row">
<div class="col-3"></div>
<div class="full-container container-fluid justify-content-center col-9">
<!--   <div class="container-fluid justify-content-center">
    <h1>TIMETABLE</h1>
  </div> -->
  <div class="row container-fluid no-padding">
    {% for day in schedule %}
      <div class="col-12 col-lg-4 set-separator">
          <div class="row">
          {% for lab,slot in day.iterrows() %}
            <div class="col-lg-12 {{ slot.defsize }} {{ slot.kind }} d-flex align-items-center justify-content-center">
              {% if slot.flip %}
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front d-flex align-items-center justify-content-center">
              {% endif %}
                    {% if slot.timed %}
                     <span class="time">{{slot.time}}</span><span class="name">{{slot.text}}</span>
                    {% else %}
                      {% if slot.non_empty %}
                        <span>{{slot.text}}</span>
                      {% endif %}
                    {% endif %}
              {% if slot.flip %}
                  </div>
                  <div class="flip-card-back talk d-flex align-items-center justify-content-center">
                    <a href="abstracts.html#{{slot.ref}}">
                      <span>{{slot.title}}</span>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          {% endfor %}
          </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
</div>

<a id="btn" href="#topofthepage">&#8679;</a>


{% endblock %}
