{% extends "_layout.html" %}
{% block title %}
    <title>Abstracts</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default titolo">
   <div class="container-fluid justify-content-center">
        <h1 class="main-title">ABSTRACTS</h1>
   </div>
</nav>

<div class="container-fluid boxabstracts">
{% for lab,talk in talks.iterrows() %}
      <div>
        <h1 class={% if lab%2 %}"speakertitler"{% else %}"speakertitlel"{% endif %}>
          <a class="linktoabstract" name="{{talk.Id}}"> {{talk.Speaker.upper()}} </a><br><span class="titletalk">{{talk.Title}}</span>
        </h1>
          <p class="abstrl">{{talk.Abstract}}</p>
      </div>
{% endfor %}
</div>


<a id="backtotop" href="#topofthepage">&#8679;</a>

{% endblock %}
